body {
  background-image: linear-gradient(-75deg, black, rgb(0, 0, 129));
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  max-width: 100%;
}

.display-area-z {
  margin: 5% auto 5% auto;
  background-color: rgb(255, 255, 255, 0.5);
  border: 2px solid black;
  text-align: center;
}

.display-area-z h1 {
  text-align: center;
  text-decoration: underline;
}
