.register-page a {
  color: black;
}

.error-message {
  color: red;
}

.form-item {
  padding-top: 1.75em;
}

#user-display {
  text-align: center;
  padding: 2em;
}

#user-display img {
  border: 2px solid black;
}

.registered-alert {
  margin-top: 1em;
  color: green;
}

.reg-title {
  margin-top: 0.5em;
}
